Для роботи був обраний дескриптор KAZE, а предмет на якому проводилися досліди - моделька корабля (барк). Для еталонного зображення була обрана фотографія у профіль.

In [1]:
import numpy as np
import cv2, time, os
from matplotlib import pyplot as plt
import pandas as pd

In [14]:
im_source = cv2.imread('C:\\Users\\user\\benchmark\\200108800907_86781.jpg',1)

detector  = cv2.KAZE_create()
matcher = cv2.BFMatcher(cv2.NORM_L1)

kp_src, des_src = detector.detectAndCompute(im_source, None)

Функція **find_metrics()** не знаходить ті метрики які нам потрібно було знайти, а знаходить основні метрики з яких можна отримати бажані, бо ми не зовсім розуміємо, що на що просять ділити. Але висновок спокійно можна отримати і з цих значень (в нього такі самі метрики). Тому я з Володимиром вирішили не записувати ці метрики.

In [15]:
def find_metrics(path_im_search,detector,matcher,kp_src, des_src):
#     path_im_search - str

    im_search  = cv2.imread(path_im_search,1)
    kp_sch, des_sch = detector.detectAndCompute(im_search, None)
    start_time = time.time()
    matches = matcher.knnMatch(des_sch, des_src, k=2)
    all_matches = len(matches) * 2
    good = []

    for m, n in matches:
        if m.distance < 0.8 * n.distance:
            good.append(m)

    # Set the source image can not have duplicate points        
    good_diff, diff_good_point = [], [[]]

    for m in good:
        diff_point = [int(kp_src[m.trainIdx].pt[0]), int(kp_src[m.trainIdx].pt[1])]
        if diff_point not in diff_good_point:
            good_diff.append(m)
            diff_good_point.append(diff_point)

    good = good_diff
    good_matches = len(good)

    end_time = time.time()
    result_time = round(end_time - start_time, 4)

    error_all_matches_list = []
    for m in np.array(matches).ravel().tolist():
        error_all_matches_list.append(m.distance)
    error_all_matches = round(np.array(error_all_matches_list).mean(), 4)

    error_good = []
    for m in good:
        error_good.append(m.distance)
    error_good = round(np.array(error_good).mean(), 4)

    size = im_search.shape

    return all_matches, good_matches, error_all_matches, error_good, size, result_time

Записуємо наші метрики для кожної тестової фотографії у датафрейм. Ті попередження, що вилазять, говорять нам про те, що деякі фотографії (наприклад фотографії з шишкою) не мають правильних збігів з нашим еталоном, воно і не дивно, шишка не дуже подібна на корабель. І в ці значення записується NaN.

In [4]:
%%time
all_metrics = []
i = 1
for filename in os.listdir('C:\\Users\\user\\all_photos'):
    i += 1
    temp_list = list(find_metrics('C:\\Users\\user\\all_photos\\' + filename,detector,matcher,kp_src, des_src))
    temp_list.insert(0, filename)
    all_metrics.append(temp_list)

df = pd.DataFrame(all_metrics, columns=['name', 'all_matches', 'true_matches', 
                                        'error_all_matches', 'error_true_matches', 'size', 'time'])

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:38: RuntimeWarning: Mean of empty slice.
C:\Users\user\anaconda3\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:33: RuntimeWarning: Mean of empty slice.

Wall time: 5min 2s

In [5]:
df.to_csv( 'C:\\Users\\user\\results\\metrics.csv')

Подивимось на опис відношення правильних матчів до всіх. Як виявиться, середнє значення набагато менше за середня значення для ORB алгоритма. Міркування щодо цього дивитись у файлі conclusion.

In [21]:
(df['true_matches']/df['all_matches']).describe()

count    140.000000
mean       0.004953
std        0.003475
min        0.000000
25%        0.003074
50%        0.004311
75%        0.005912
max        0.016675
dtype: float64

In [6]:
df.head(10)

,name,all_matches,true_matches,error_all_matches,error_true_matches,size,time
0,200018300047_463343.jpg,3362,14,2.5829,1.8803,"(1280, 960, 3)",0.1536
1,200018300204_458970.jpg,4240,33,2.7236,1.7862,"(1280, 960, 3)",0.2234
2,200018300634_461451.jpg,4232,10,2.6901,1.8382,"(960, 1280, 3)",0.1935
3,200018500242_464323.jpg,2260,8,2.6203,1.9124,"(960, 1280, 3)",0.1057
4,200018500302_461154.jpg,2660,13,2.7044,1.7400,"(960, 1280, 3)",0.1476
5,200018500845_461490.jpg,22438,20,2.6100,2.0884,"(1280, 960, 3)",1.0043
6,200067600130_340611.jpg,5172,59,2.5130,1.5992,"(1280, 1280, 3)",0.3042
7,200067600168_341964.jpg,3560,11,2.6618,2.0784,"(960, 1280, 3)",0.1596
8,200067600293_341472.jpg,6790,29,2.6457,2.0432,"(1280, 1280, 3)",0.3042
9,200067700524_339357.jpg,6594,39,2.7359,2.0067,"(1280, 960, 3)",0.2932

In [17]:
df.describe()

,all_matches,true_matches,error_all_matches,error_true_matches,time
count,144.000000,144.000000,140.000000,129.000000,144.000000
mean,4407.055556,20.034722,2.693661,1.938253,0.208304
std,4228.438148,16.590676,0.104418,0.186315,0.207424
min,0.000000,0.000000,2.159800,1.089400,0.000000
25%,2297.500000,9.000000,2.652500,1.838200,0.104450
50%,3669.000000,17.000000,2.696650,1.943200,0.173500
75%,5444.500000,29.000000,2.740150,2.052800,0.253800
max,25832.000000,97.000000,3.191200,2.276700,1.199800

Зберігаємо та виводимо на екран ключові точки нашого еталону. Як можна бачити, алгоритм непогано справляється. На поверхні, де лежить корабель, ключових точок майже немає. Проте їх дуже багато на "складних місцях", наприклад в точках, де перетинаються багато ниток.

In [7]:
source_keys = cv2.drawKeypoints(im_source,kp_src , None)
cv2.namedWindow("Benchmark", cv2.WINDOW_NORMAL)
cv2.resizeWindow("Benchmark", 600, 600)
cv2.imshow("Benchmark", source_keys)

cv2.imwrite('C:\\Users\\user\\results\\source_keys.jpg', source_keys)

cv2.waitKey(0)
cv2.destroyAllWindows()

Зберігаємо та виводимо на екран усі матчі. Як можна побачити, їх дуже багато. Взагалі, вони правильно співставляють фотографії кораблів. Але, як можна бачити, на фотографії з еспандером матчів не набагато менше.

In [8]:
#all matches for source and 4 example photos
i=0

for filename in os.listdir('C:\\Users\\user\\photo_for_example'):
    
    i+=1
    
    im_search = cv2.imread('C:\\Users\\user\\photo_for_example\\'+filename, 1)
    im_source = cv2.imread('C:\\Users\\user\\benchmark\\200108800907_86781.jpg',1)

    kp_src, des_src = detector.detectAndCompute(im_source, None)
    kp_sch, des_sch = detector.detectAndCompute(im_search, None)
    
    matcher = cv2.BFMatcher(cv2.NORM_L1)

    matches = matcher.knnMatch(des_src, des_sch, k=2)
    
    matches = np.array(matches).ravel().tolist()
    matching_result = cv2.drawMatches(im_source, kp_src, im_search, kp_sch, matches, None)

    cv2.namedWindow("Matches", cv2.WINDOW_NORMAL)
    cv2.resizeWindow("Matches", 1200, 600)
    cv2.imshow("Matches", matching_result)

    cv2.imwrite('C:\\Users\\user\\results\\all_matches\\match' + str(i) + '.jpg', matching_result)
    
    cv2.waitKey(0)
    cv2.destroyAllWindows()

Зберігаємо та виводимо на екран тільки правильні матчі. А ось тут матчів з фотографією еспандера дуже мало, в порівнянні з іншими фотографіями.

In [9]:
#true matches for source and 4 example photos
i=0

for filename in os.listdir('C:\\Users\\user\\photo_for_example'):
    
    i+=1
    
    im_search = cv2.imread('C:\\Users\\user\\photo_for_example\\'+filename, 1)
    im_source = cv2.imread('C:\\Users\\user\\benchmark\\200108800907_86781.jpg',1)

    kp_src, des_src = detector.detectAndCompute(im_source, None)
    kp_sch, des_sch = detector.detectAndCompute(im_search, None)
    
    matcher = cv2.BFMatcher(cv2.NORM_L2)

    matches = matcher.knnMatch(des_src, des_sch, k=2)
    
    good = []

    for m, n in matches:
        if m.distance < 0.8 * n.distance:
            good.append(m)

    # Set the source image can not have duplicate points        
    good_diff, diff_good_point = [], [[]]

    for m in good:
        diff_point = [int(kp_src[m.trainIdx].pt[0]), int(kp_src[m.trainIdx].pt[1])]
        if diff_point not in diff_good_point:
            good_diff.append(m)
            diff_good_point.append(diff_point)

    good = good_diff

    matching_result = cv2.drawMatches(im_source, kp_src, im_search, kp_sch, good, None)

    cv2.namedWindow("Matches", cv2.WINDOW_NORMAL)
    cv2.resizeWindow("Matches", 1200, 600)
    cv2.imshow("Matches", matching_result)

    cv2.imwrite('C:\\Users\\user\\results\\true_matches\\match' + str(i) + '.jpg', matching_result)
    
    cv2.waitKey(0)
    cv2.destroyAllWindows()